:root {
  --primary-clr: #1abc9c;
  --secondary-clr: 44, 62, 80;
  --navbar-height: 56px;
}
body {
  --bs-body-color: white;
}
p.text-center.copyright {
  margin-bottom: 0;
}
h2 {
  text-align: center;
}
nav {
  --bs-tertiary-bg-rgb: var(--secondary-clr);
}
a.navbar-brand,
a.navbar-brand:hover,
a.nav-link,
navbar-nav,
a.nav-link:hover {
  --bs-navbar-brand-hover-color: #fff;
  color: white;
  font-weight: 600;
  padding: 5px;
}
ul li a.nav-link.active {
  --bs-navbar-active-color: #fff;
  background-color: var(--primary-clr);
  border-radius: 10%;
}
ul {
  gap: 10px;
  & li {
    width: fit-content;
  }
}

main {
  min-height: calc(100vh - var(--navbar-height));
}
section {
  padding-top: 20px;
  padding-bottom: 20px;
}
#home {
  background-color: var(--primary-clr);
}
.line {
  width: 50px;
  height: 3px;
}
footer {
  background-color: #2c3e50;
}
footer + p {
  background-color: #1a252f;
  padding: 10px;
}
.social-icon {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about {
  background-color: #1abc9c;
  color: white;
  min-height: calc(100vh - var(--navbar-height));
}

#portfolio {
  color: #2c3e50;
}
.plus-icon {
  font-size: 96px;
  color: white;
}
.plus-icon-bg {
  opacity: 0;
  transition: all 0.5s;
}
.plus-icon-bg:hover {
  opacity: 85%;
}
#contact {
  --bs-body-color: 0, 0, 0;
  color: #2c3e50;
}
label {
  color: #1abc9c;
}
